<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments.html::head"></th:block>
    <title>Panel administratora</title>
</head>
<body>

<nav th:replace="fragments.html::nav"></nav>

<div class="container">

    <div>
        <a th:href="@{/addProduct}" class="btn btn-success mb-3" role="button">Dodaj nowy produkt do oferty sklepu</a>
    </div>

    <table class="table table-striped table-hover">

        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nazwa produktu</th>
            <th scope="col">Opis produktu</th>
            <th scope="col">Cena</th>
            <th scope="col">Kategoria</th>
            <th scope="col">Zdjęcie</th>
            <th scope="col" style="width: 100px">Edycja</th>
            <th scope="col" style="width: 100px">Usuwanie</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="product: ${products}">
            <td th:text="${product.id}"></td>
            <td th:text="${product.name}"></td>
            <td th:text="${product.description}"></td>
            <td th:text="${product.price}"></td>
            <td th:text="${product.typeOfProduct}"></td>
            <td class="thumb-image">  <img th:src="@{'/admin/show/'+ ${product.id}}"  >

            </td>

            <td>
                <form th:action="@{'/admin/edit/'+ ${product.id}}" method="get">
                    <input type="hidden" name="id" th:value="${product.id}">
                    <button type="submit" name="action" value="edit" class="btn btn-primary me-auto">Edycja</button>
                </form>
            </td>
            <td>
                <form th:action="@{'/admin/delete'}" method="post">
                    <input type="hidden" name="id" th:value="${product.id}">
                    <button type="submit" name="action" value="delete" class="btn btn-danger">Usuń</button>
                </form>
            </td>
        </tr>

               </tbody>

    </table>

</div>
</body>
</html>