<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Page</title>
</head>
<body>

<table>
    <p><a th:href="@{/login}">Loguj</a></p>
    <p><a th:href="@{/registration}">Zarejestruj</a></p>
    <p><a th:href="@{/pageAdd}">Dodaj</a></p>

    <tr>
        <th th:hidden="id"></th>
        <th>Nazwa</th>
        <th>Opis</th>
        <th>Cena</th>
        <th>Rodzaj produktu</th>
        <th>Opcje</th>
    </tr>

    <tr th:each="product: ${products}">

        <td th:hidden="${product.id}"></td>
        <td th:text="${product.title}"></td>
        <td th:text="${product.description}"></td>
        <td th:text="${product.price}"></td>
        <td th:text="${product.typeOfProduct}"></td>
        <td>
            <a type="button" th:href="@{'/mainPage/edit/' + ${product.id}}">EDYTUJ</a>
            <form th:action="@{'/mainPage/delete'}" method="post">
                <input type="hidden" name="id" th:value="${product.id}">
                <button type="submit" name="action" value="delete">USUŃ</button>
            </form>
        </td>
    </tr>

</table>
</body>
</html>