<!DOCTYPE html>
<html lang="en">

<head>

    <th:block th:replace="fragments.html::head"></th:block>
    <title>Udana rejestracja nowego użytkownika</title>

</head>

<body>

<nav th:replace="fragments.html::nav"></nav>

<div class="container">

    <h1 class="my-4">Rejestracja nowego użytkownika zakończona pomyślnie.</h1>

    <h2 class="my-2">Możesz zalogować się z użyciem wybranego loginu i hasła.</h2>

    <form method="post" autocomplete="off" th:action="@{/login}">

        <div class="form-group">
            <label class="mt-3" for="usr">Login użytkownika lub adres email</label>
            <input type="text" class="form-control" id="usr" name="username"
                   placeholder="tu wpisz swój Login lub adres email">
        </div>

        <div class="form-group">
            <label class="mt-3" for="pwd">Hasło</label>
            <input type="password" class="form-control" id="pwd" name="password" placeholder="tu wpisz swoje hasło">
        </div>

        <div class="mt-3">
            <button type="submit" class="btn btn-primary">Zaloguj</button>
        </div>

    </form>
</div>

<footer th:replace="fragments.html::footer"></footer>

</body>

</html>